.example-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .example-toolbar {
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  
  .example-sidenav-container {
    height: calc(100vh - 64px); /* Adjust according to your toolbar height */
    margin-top: 64px; /* Adjust according to your toolbar height */
    display: flex;
  }
  
  .example-sidenav {
    width: 250px; /* Adjust according to your sidebar width */
  }
  
  .example-sidenav-content {
    flex: 1;
    padding: 20px;
    overflow: auto;
  }
  
  .full-width {
    width: 100%;
  }
  
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  
  .submenu.expanded {
    transform: scaleY(1);
  }
  